@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body {
	margin: 0px;
	background-color: #ccc;
	font-family: "Open Sans";
}

#container {
	width: 100%;
	height: auto;
	margin: auto;
}

.wrapper {
	width: 940px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

/* MENU */

#menu {
	height: 100px;
	background-color: #FFF;
	border-top: 10px solid #89cff0;
	min-width: 1040px;
}

#logo {
	width: 300px;
	height: auto;
	margin-top: 18px;
	display: block;
	float: left;
}

#menu_items {
	width: auto;
	height: auto;
	float: left;
	margin-top: 40px;
	margin-left: 40px;
	width: 350px;
	height: 20px;
}

li {
	display: inline;
	font-size: 12px;
	text-transform: uppercase;
}

li a {
	text-decoration: none;
	color: #989898;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

li a:hover {
	color: #363636;
	font-size: 12px;
}

.current_active {
	color: #363636;
	font-weight: bold;
	font-size: 12px;
}

#menu_button {
	width: auto;
	height: auto;
	float: right;
	margin-top: 43px;
}

.button {
	background: #89cff0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 2px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	border: #89cff0 solid thin;
}

.button:hover {
	border: #89cff0 solid thin;
	background-color: #ffffff;
	color: #89cff0;
}

/* HEADER */

#header {
	width: 100%;
	height: 300px;
	background-image: url(../img/background_header.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #010101;
	border-top: 1px solid #ccc;
	min-width: 1040px;
}

#post_header {
	width: 375px;
	min-height: 160px;
	height: auto;
	margin-top: 50px;
	padding: 20px;
	background-color: #FFF;
	border-left: 10px solid #89cff0;
}

#post_header h1 {
	font-weight: 900;
	color: #89cff0;
	padding-bottom: 20px;
	font-size: 20px;
}

#post_header h2 {
	font-weight: 300px;
	color: #363636;
	font-size: 14px;
	padding-bottom: 20px;
}

#post_header h3 {
	font-size: 12px;
	color: #89cff0;
}

/* SEARCH */

#search {
	width: 100%;
	height: 100px;
	background-color: #fdfcfc;
	border-bottom: 1px solid #ccc;
	min-width: 1040px;
}

#search table tr td input {
	height: 46px;
	width: 100%;
	border-radius: 0px;
	border: 1px solid #89cff0;
	box-shadow: none;
	padding-left: 20px;
}

#search table tr td select {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	height: 50px;
	border: 1px solid #89cff0;
	background-color: #89cff0;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #FFF;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	background-image: url("../img/dropdown.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

#search table tr td .button {
	float: right;
	padding: 0px;
	height: 50px;
	width: 130px;
	-webkit-appearance: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: #FFF;
	text-align: center;
}

#search td {
	vertical-align: middle;	
}

#search table {
	padding: 0px;
}

#search .wrapper {
	padding-top: 25px;
}

/* CONTENT */

.padding {
	padding-top: 50px;	
}
.content {
	width: 100%;
	height: auto;
	background-color: #FFF;
	min-width: 1040px;
}

.content .blok h1 {
	font-weight: bold;
	color: #89cff0;
	font-size: 20px;
	width: 450px;	
}

.content .blok h2 {
	padding-top: 20px;
	width: 440px;
	text-align: justify;
	font-weight: 100;
	line-height: 25px;		
}

.blok {
	width: 450px;
	height: 500px;
}

.image {
	width: 450px;
	height: 500px;
	overflow: hidden;
}

.right {
	float: right;
}

.line {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 900px;
	height: 1px;
	background-color: #ccc;
	border: none;
}

/* KAARTJES */
.kaartjes {
	width: 100%;
	min-width: 1040px;
	height: auto;
	background-color: #2c2c2c;
	background-image: url("../img/background_tiled.png");
	background-position: top center;
	background-repeat: repeat;
	padding-top: 50px;
	padding-bottom: 50px;
}

.kaartjes .wrapper #post_header {
	margin: 0px;
	overflow: hidden;
	width: 375px;
	margin-left: 0px;
}

/* FOOTER */

#footer {
	background-color: #89cff0;
	min-width: 1040px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer p {
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	width: 400px;
}

#footer .wrapper p img {
	float: right;
	margin-left: 10px;
}

/* CONTACT */

#contact {
	min-height: 400px;
	background-color: #FFF;
	width: 980px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-left: 10px solid #89cff0;
}

.kaartjes .wrapper {
	padding: 0px;
}

#contact h1 {
	font-weight: bold;
	color: #89cff0;
	font-size: 20px;
}

#contact h2 {
	padding-top: 20px;
	text-align: justify;
	font-weight: 100;
	line-height: 25px;	
}

#contact table {
	width: 940px;
	margin-top: 20px;
	border-collapse:collapse;
}

#contact table td, table th {
	padding-top: 20px;
}

#contact input {
	padding: 10px;
	width: 920px;
	font-family: 'Open Sans';
	font-weight: 300;
}

#contact textarea {
	width: 922px;
	max-width: 922px;
	padding: 10px;
	font-family: 'Open Sans';
	font-weight: 300;
}

#contact .button {
	width: 30%;
	font-weight: 600;
	}

/*BABIES */

.kaartjesnummer1 {
	width: 100%;
	min-width: 1040px;
	height: auto;
	background-color: #c3ecff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.kaartjesnummer1 .wrapper h4 {
	font-weight: 900;
	color: #fff;
	font-size: 40px;
	margin-left: 20px;
}

.kaartjesnummer2 {
	width: 100%;
	min-width: 1040px;
	height: auto;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.kaartjesnummer2 .wrapper h4 {
	font-weight: 900;
	color: #89cff0;
	font-size: 40px;
	margin-left: 20px;
}

.kaartjesnummer2 #post_header {
	background-color: #3c3b3d;
}

.kaartjesnummer2 #post_header h2 {
	color: #fff;
}

.kaartjesnummer3 {
	width: 100%;
	min-width: 1040px;
	height: auto;
	background-color: #3c3b3d;
	padding-top: 50px;
	padding-bottom: 50px;
}

.kaartjesnummer3 .wrapper h4 {
	font-weight: 900;
	color: #fff;
	font-size: 40px;
	margin-left: 20px;
}

.kaartjesnummer3 #post_header {
	background-color: #fff;
}

.kaartjesnummer3 #post_header h2 {
	color: #3c3b3d;
}

#post_header_inlog {
	width: 375px;
	min-height: 330px;
	height: auto;
	padding: 20px;
	background-color: #FFF;
	border-left: 10px solid #89cff0;
}

#post_header_inlog h1 {
	font-weight: 900;
	color: #89cff0;
	padding-bottom: 20px;
	font-size: 20px;
}

#post_header_inlog h2 {
	font-weight: 300px;
	color: #363636;
	font-size: 14px;
	padding-bottom: 20px;
}

.kaartjes .wrapper #post_header_inlog table tr {
	border-collapse:collapse;
	width: 100%;
}

.kaartjes .wrapper #post_header_inlog td {
	padding-top: 20px;	
}

#post_header_inlog input {
	padding: 10px;
	font-family: 'Open Sans';
	font-weight: 300;
	width: 350px;
}

#post_header_inlog .button {
	width: 188px;
	font-weight: 600;
}

/*INLOG*/
#meldingen {
	min-height: 50px;
	background-color: #FFF;
	width: 980px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-left: 10px solid #89cff0;
}

.kaartjes #meldingen .wrapper {
	border: #F00 solid thin;
	width: 940px;
}
