@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url("slider.css");

body {
	margin: 0px;
	background-color: #ccc;
	font-family: "Open Sans";
}

#container {
	width: 100%;
	height: 2000px;
	margin: auto;
}

.wrapper {
	width: 940px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* MENU */

#menu {
	height: 100px;
	background-color: #FFF;
	border-top: 10px solid #89cff0;
	min-width: 980px;
}

#logo {
	width: 300px;
	height: auto;
	margin-top: 18px;
	display: block;
	float: left;
}

#menu_items {
	width: auto;
	height: auto;
	float: left;
	margin-top: 40px;
	margin-left: 40px;
}

li {
	display: inline;
	font-size: 12px;
	text-transform: uppercase;
}

li a {
	text-decoration: none;
	color: #989898;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

li a:hover {
	color: #363636;	
}

.current_active {
	color: #363636;
	font-weight: bold;
}

#menu_button {
	width: auto;
	height: auto;
	float: right;
	margin-top: 43px;
}

.button {
	background: #89cff0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 2px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	border: #89cff0 solid thin;
}

.button:hover {
	border: #89cff0 solid thin;
	background-color: #ffffff;
	color: #89cff0;
}

/* HEADER */

#header {
	width: 100%;
	height: 300px;
	/*background-image: url(../img/background_header.png);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #010101;
	border-top: 1px solid #ccc;
	min-width: 980px;
}

#post_header {
	width: 400px;
	min-height: 160px;
	max-height: 160px;
	height: auto;
	margin-top: 50px;
	margin-left: 50px;
	padding: 20px;
	background-color: #FFF;
	border-left: 10px solid #89cff0;
}

#post_header h1 {
	font-weight: 900;
	color: #89cff0;
	padding-bottom: 20px;
	font-size: 20px;
}

#post_header h2 {
	font-weight: 300px;
	color: #363636;
	font-size: 14px;
	padding-bottom: 20px;
}

#post_header h3 {
	font-size: 12px;
	color: #89cff0;
}

#header .button {
	float: right;
	bottom: 0px;
	margin-right: 460px;
	margin-top: -55px;
}

/* SEARCH */

#search {
	width: 100%;
	height: 100px;
	background-color: #fdfcfc;
	border-bottom: 1px solid #ccc;
}

#search table tr td input {
	height: 50px;
	width: 90%;
}

#search table tr td select {
	height: 100%;
	width: 90%;
}

#search table tr td .button {
	float: right;
	padding: 0px;
	height: 50px;
	width: 150px;
}

#search td {
	vertical-align: middle;	
}

#search table {
	padding: 0px;
}

#search .wrapper {
	padding-top: 25px;
}

/* CONTENT */

#content {
	width: 100%;
	min-height: 600px;
	background-color: #FFF;	
}

#content .blok_1 h1 {
	padding-top: 20px;
	font-weight: bold;
	color: #89cff0;	
}
